* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  max-width: 1040px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button-section {
  margin: 1.2rem;
  padding: 0.8rem 0.5rem;
  display: flex;
  justify-content: space-between;
  gap: 1em;
  width: 100%;
}

.action-button {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: .375em;
  box-shadow: none;
  box-sizing: border-box;
  color: #363636;
  cursor: pointer;
  display: inline-flex;
  font-family: "Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1rem;
  height: 2.5em;
  justify-content: center;
  line-height: 1.5;
  padding: calc(.5em - 1px) 1em;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
  flex: 1;
}

.action-button:active {
  border-color: #4a4a4a;
  outline: 0;
}

.action-button:focus {
  border-color: #485fc7;
  outline: 0;
}

.action-button:hover {
  border-color: #b5b5b5;
}

.action-button:focus:not(:active) {
  box-shadow: rgba(72, 95, 199, .25) 0 0 0 .125em;
}

.action-button:nth-child(1):hover{
  background-color: rgb(217,246,217);
  color: rgb(126,221,126);
  border: 1px #fff solid;
  transition-duration: 150ms;
}

.action-button:nth-child(1n + 2):hover{
    background-color: rgb(166, 216, 255);
    color: rgb(20, 71, 160);
    border: 1px solid #fff;
    transition-duration: 150ms;
}

.task-cards {
  width: 100%;
  display: flex;
  justify-content: center;
}

.card {
  width: 50%;
  border: 2px solid green;
  border-radius: 0.5em;
}

.status {
  background-color: rgb(217,246,217);
  color: rgb(126,221,126);
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 0.5em 0.5em 0 0;
}

.task-name, .description, .deadline {
  background-color: #fff
}

.task-name {
  padding: 10px;
  font-weight: bold;
  font-size: 18px;
  color: #666;
}

.description {
  padding: 5px 10px;
  color: #888;
}

.deadline {
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 0 0 0.5em 0.5em;
  color: #888;
  display: flex;
  gap: 5px;
}